<div class="about">
    <div class="about-top">
        <div class="content">
            <img class="about-ising pull-left" src="style/img/hot-song-ising.png" alt="">
            <div class="pull-left img-container">
                <img class="about-song-quick-mark" src="style/img/hot-song-quick-mark.png" alt="">
                <img class="common-bg-sound" src="style/img/common-bg-song.png" alt="">
            </div>
        </div>
    </div>
    <div class="about-bottom">
        <div class="content">
            <div class="about-content">
                <h4>关于iSing</h4>
                <p>
                    北京擎信互娱信息技术有限公司于2014年成立，公司自主研发的iSing是一款免费的社交k歌手机应用，这款应用内置集音乐、定调、练
                    唱、录音、影音合成、上传于一体，在看似有限的空间内容纳了海量的优质音乐内容，及全方位的互动娱乐功能。iSing的定位为全球的
                    用户提供手机K歌，社交应用等服务。
                </p>
                <div class="contact-email">
                    <p>联系我们</p>
                    <a href="email:company@appising.com">company@appising.com</a>
                </div>
            </div>
        </div>
    </div>
</div>