<div class="hot-song">
    <div class="hot-song-top">
        <div class="content clear-fix">
            <img class="hot-song-ising pull-left" src="style/img/hot-song-ising.png" alt=""/>
            <div class="pull-left img-container">
                <img class="hot-song-quick-mark" src="style/img/hot-song-quick-mark.png" alt=""/>
                <img class="common-bg-sound" src="style/img/common-bg-song.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="hot-song-bottom">
        <div class="content">
            <h4 class="song-list-title">热门金曲</h4>
            <ul class="song-list clear-fix">
                <li>
                    <a href="">

                    </a>
                </li>
                <li>
                    <a href="">

                    </a>
                </li>
                <li class="no-border-right">
                    <a href="">

                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li class="no-border-right">-->
                    <!--<a href="">-->

                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>