<div class="hot-song">
    <div class="hot-song-top">
        <div class="content clear-fix">
            <img class="hot-song-ising pull-left" src="style/img/hot-song-ising.png" alt=""/>
            <div class="pull-left img-container">
                <img class="hot-song-quick-mark" src="style/img/hot-song-quick-mark.png" alt=""/>
                <img class="common-bg-sound" src="style/img/common-bg-song.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="hot-song-bottom clear-fix">
        <div class="content">
            <h4 class="song-list-title">热门金曲</h4>
            <ul class="song-list clear-fix">
                <li>
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
                <li class="no-border-right">
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
                <li class="no-border-right">
                    <a href="#">
                        <img src="style/img/song-play-btn.png" alt=""/>
                    </a>
                </li>
            </ul>
            <ul class="pagination pull-right">
                <li class="prev"><a href="javascript:">&lt;上一页</a></li>
                <li class="active"><a href="javascript:">1</a></li>
                <li class="inactive"><a href="javascript:">2</a></li>
                <li class="inactive"><a href="javascript:">3</a></li>
                <li class="inactive"><a href="javascript:">4</a></li>
                <li class="inactive"><a href="javascript:">5</a></li>
                <li class="inactive"><a href="javascript:">6</a></li>
                <li class="inactive"><a href="javascript:">7</a></li>
                <li class="inactive"><a href="javascript:">8</a></li>
                <li class="inactive"><a href="javascript:">9</a></li>
                <li class="inactive"><a href="javascript:">10</a></li>
                <li class="next"><a href="javascript:">下一页 &gt;</a></li>
            </ul>
        </div>
    </div>
</div>