<div class="primary">
    <div class="primary-top">
        <div class="content clear-fix">
            <div class="content-left pull-left">
                <div class="is-sing">
                    <h1>iSing! Free Karaoke</h1>
                    <p>唱唱歌，聊聊天，交个朋友</p>
                </div>
                <div class="download">
                    <img class="android-play-download" src="style/img/Android-download.png" alt=""/>
                    <img class="google-play-download" src="style/img/Googleplay-download.png" alt=""/>
                    <div class="quickMark">
                        <img src="style/img/quickMark.png" alt=""/>
                        <p>扫一扫下载  iSing客户端</p>
                    </div>
                </div>
            </div>
            <div class="content-right pull-left">
                <img class="bg-sound" src="style/img/bg-sound.png" alt=""/>
                <img class="recently-release" src="style/img/recently-release.png" alt=""/>
                <img class="iSing-star" src="style/img/iSing-star.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="primary-bottom">
        <div class="content">

        </div>
    </div>
</div>