<div class="update-log">
    <div class="update-log-top">
        <div class="content clear-fix">
            <img class="update-log-img pull-left" src="style/img/hot-song-ising.png" alt="">
            <div class="pull-left img-container">
                <img class="update-log-quick-mark" src="style/img/hot-song-quick-mark.png" alt="">
                <img class="common-bg-sound" src="style/img/common-bg-song.png" alt="">
            </div>
        </div>
    </div>
    <div class="update-log-bottom">
        <div class="content">
            <h4 class="update-log-title">更新日志</h4>
            <ul class="update-log-list">
                <li class="clear-fix">
                    <div class="update-log-list-time">
                        <h4>07日</h4>
                        <p>2015年7月</p>
                    </div>
                    <div class="update-log-list-content">
                        <h4 class="first">V2.4.1</h4>
                        <p>1) 修复已上传歌曲列表显示不完整的问题</p>
                        <p>2) 根据用户需求取消了五个不必要的权限问题</p>
                        <img class="time-dot" src="style/img/time-dot.png" alt=""/>
                    </div>
                </li>
                <li class="clear-fix">
                    <div class="update-log-list-time">
                        <h4>07日</h4>
                        <p>2015年7月</p>
                    </div>
                    <div class="update-log-list-content">
                        <h4>V2.4.1</h4>
                        <p>1) 修复已上传歌曲列表显示不完整的问题</p>
                        <p>2) 根据用户需求取消了五个不必要的权限问题</p>
                        <img class="time-dot" src="style/img/time-dot.png" alt=""/>
                    </div>
                </li>
                <li class="clear-fix">
                    <div class="update-log-list-time">
                        <h4>07日</h4>
                        <p>2015年7月</p>
                    </div>
                    <div class="update-log-list-content">
                        <h4>V2.4.1</h4>
                        <p>1) 修复已上传歌曲列表显示不完整的问题</p>
                        <p>2) 根据用户需求取消了五个不必要的权限问题</p>
                        <img class="time-dot" src="style/img/time-dot.png" alt=""/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>